# Binaries for Programs and Plugins:
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test Binary, Built with `go test -c`:
*.test

# Output of the Go Coverage Tool, Specifically When Used with LiteIDE:
*.out

# Dependency Directories (Remove the Comment Below to Include It)
# vendor/

# Go Workspace File:
go.work

# The Local Development Env-Var JSON Config File:
/configs/config.json

# Local Directory Containing Log Files:
/logs/*

# macOS Desktop Services Store Files:
.DS_Store

# Local Visual Studio Code Configs, Settings, etc.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code:
.history/

# Built Visual Studio Code Extensions:
*.vsix
